<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Addition</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .dropdown-toggle {
        background-color: white;
        color: black;
      }

      .col-btn {
        display: flex;
        justify-content: flex-end;
      }

      .tag {
        font-size: 18px;
        height: fit-content;
      }

      .close {
        float: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form>
        <h2>Create new question</h2>
        <div class="form-group">
          <label for="title"><h5>Title</h5></label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="Enter your question's title"
          />
        </div>
        <div class="form-group">
          <label for="title"><h5>Category</h5></label>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="content"><h5>Content</h5></label>
        </div>
        <div class="form-group">
          <label for="attachments"><h5>Attachments</h5></label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="inputGroupFile01"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >Choose file</label
              >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="tag"><h5>Tag</h5></label>
          <input
            type="text"
            class="form-control"
            id="tag"
            placeholder="Search or enter your question's tag"
          />
          <div class="mt-2">
            <span class="btn-group">
              <button type="button" class="btn tag">
                <span>ReactJS</span>
                <a class="close">&times;</a>
              </button>
            </span>
            <span class="btn-group">
              <button type="button" class="btn tag">
                <span>NodeJS</span>
                <a type="button" class="close">&times;</a>
              </button>
            </span>
          </div>
        </div>
        <div class="col col-btn">
          <button type="submit" class="btn btn-primary mr-2">
            Post
          </button>
          <button class="btn">Cancel</button>
        </div>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
