#content {
  min-height: calc(100vh - 156px);
}
pre {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
  border-radius: 0;
  overflow-x: auto;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
.active-like {
  color: green;
}

.active-dislike {
  color: red;
}

.result img{
  max-width: 700px;
}
