PORT=8080
DATABSE_URL=mongodb+srv://queue-overflow:tuonggio@queue-overflow-database.tl7nr.gcp.mongodb.net/queue-overflow-database?retryWrites=true&w=majority
VERIFICATION_PAGE_URL=http://localhost:3000/verify
RESET_PASSWORD_PAGE_URL=http://localhost:3000/resetPassword
NODE_ENV=dev
RESET_PASSWORD_KEY=tuonggio_resetPassword
ACTIVATION_KEY=tuonggio_accountActivation
PRIVATE_KEY=tuonggio
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=
email_user=queueoverflow.tuonggio@gmail.com
EMAIL_PASSWORD=tuonggio)
CLOUD_NAME=dyq3mdvxz
API_KEY=695163889335814
API_SECRET=Lpsq22iA6BFy9psZQ0UOjjZrYTI
DB_HOST=localhost
DB_NAME=queueoverflow
