a {
  text-decoration: none !important;
}
.navtop {
  margin-top: 50px;
}
.tab-content {
  padding: 40px;
  margin-top: -20px;
}
.avatar{
  width:200px;
  height:200px;
}
.question {
  color: rgb(0, 0, 0);
}
