a {
  text-decoration: none !important;
}
.navtop {
  margin-top: 50px;
}
.tab-content {
  padding: 40px;
  margin-top: -20px;
}
.avatar {
  width: 17em;
  height: 17em;
}
.question {
  color: rgb(0, 0, 0);
}
